.generateButton{
    width: 200px;
    height: 200px;
    background-color: slategrey;
    color: white;
    font-size: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
.generateButton:active{
    opacity: 0.8;
} 
 
