* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: slategrey;
    text-align: center;
    color: white;
    height: 50px;
}

.credentials,
#password {
    height: 36px;
    width: 240px;
}

.credentials {
    margin-top: 20%;
}

#password {
    margin-top: 5%;
}

.loginarea {
    height: 400px;
    width: 400px;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 10%;
    border-radius: 10px;
    border: none;
}

.loginheader {
    height: 100px;
    background-color: slategrey;
    text-align: center;
    position: relative;

}

.loginheader h2 {
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

}



.myVideo {
    height: calc(100% - 50px);
    position: absolute;
    object-fit: fill;
    width: 100%;
}

.loginlink{
    width: 240px;
    background-color: slategrey;
}
.login{
    margin-top: 20px;
    
}